extends layout

block head
    style.
        main p,
        main span,
        main e,
        main i {
            font-size: 15px;
        }
        #map {
            width: 100%;
            height: calc(70vh - 45px);
        }
        //- #map:before {
        //-     content: '';
        //-     position: absolute;
        //-     top: 0;
        //-     bottom: 0;
        //-     left: 0;
        //-     right: 0;
        //-     background-image: url('/images/background.gif');
        //-     background-size: cover;
        //-     background-position: center;
        //-     background-repeat: no-repeat;
        //- }

        #placeInfo {
            max-width: calc(100vw - 20px);
            width: 780px;
            height: calc(100vh - 20px);
            top: 10px;
            margin: 0 10px;
            display: block;
            padding: 0;
            z-index: 10;
            position: fixed;
            background-color: white;
            box-shadow: 0 0 10px 1px grey;
            overflow-x: auto;
            color: #607D8B;
        }

        #placeInfo .close {
            position: absolute;
            top: 0;
            right: 0;
            margin: 15px 20px;
            font-size: 20px;
        }

        #placeInfo a {
            //- padding: 0 10px;
            text-decoration: none;
        }

        #placeInfo > div > div{
            margin-bottom: 10px;
        }

        #placeInfo button {
            padding: 7px 15px;
            color: #607D8B;
            border: 1px solid #607D8B;
            font-size: 11px;
            min-width: 48%;
            max-width: 98%;
            margin: 1%;
            background-color: white;
        }

        #placeInfo span,
        #placeInfo i {
            padding: 0 3px;
            font-size: 13px;
            color: #607D8B;
        }

        #placeInfo .images {
            margin: 15px;
            max-width: calc(100vw - 20px);
            overflow: scroll;
            -webkit-overflow-scrolling: touch;
        }

        #placeInfo .image {
            max-width: 75vw;
            min-width: 50vw;
            max-height: 75vh;
            display: inline;
            vertical-align: middle;
            margin-right: 10px;
        }

        #places {
            height: calc(30vh - 5px);
            box-sizing: border-box;
            overflow-x: scroll;
            overflow-y: hidden;
            margin: 5px 5px 0px 5px;
            -webkit-overflow-scrolling: touch;
        }

        #places .scroll-places {
            height: calc(100% - 5px);
        }

        .place {
            height: 100%;
            width: 61vw;
            max-width: 300px;
            min-width: 240px;
            margin-right: 10px;
            display: inline-block;
            box-sizing: border-box;
            vertical-align: top;
            border: 1px solid rgba(0, 0, 0, 0.15);
            box-shadow: 1px 1px 5px -1px black;
        }

        .place-box{
            height: 40%;
            margin: 2% 5%;
        }

        .place-box h3 {
            font-size: 15px;
            font-weight: bold;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: auto;
        }

        .place-box em,
        .place-box i {
            font-size: 11px;
        }

        .place-box button {
            border: 1px;
            padding: 4px 15px;
            color: white;
            background-color: #607D8B;
            font-size: 11px;
        }

        .place-background {
            height: 60%;
            max-height: calc(100% - 70px);
        }

block content
    .page
        header#header
            a(href="/")
                i.fas.fa-chevron-left(style="position: absolute; top: 0; left: 0; margin: 15px")
            h2(style=" margin: 5px 0;")= title
            i.fas.fa-map-marker-alt(style="position: absolute; top: 0; right: 0; margin: 15px" onclick="gps()")

        main
            #map

            #placeInfo(style="display: none")
                .close.fa.fa-times()
                .text-center(style="padding: 10px 20px")
                    div
                        h1.name
                    div
                        a.info(style="line-height: 20px;" target="_bank")
                    button
                        a.phone(target="_bank")
                            i.fa.fa-phone
                            span
                    button
                        a.web(target="_bank")
                            i.fa.fa-link
                            span Web
                    button
                        a.unmar.address(target="_bank")
                            i.fas.fa-map-marked-alt
                            span
                .images
                    .scroll-images

            #places
                .scroll-places
                    for place in places
                        .place(data-identifier="#{place.id}" data-info="#{place.info}")
                            .place-background.background
                            .place-box
                                h3.unmar.bold= place.name
                                em.unmar= place.type
                                span(style="padding:0 4px") ·
                                em.rating
                                i.fa.fa-star(style="padding-left: 2px")
                                if place.recomendation
                                    span(style="padding:0 4px") ·
                                    em= place.recomendation
                                div(style=" text-align: center; ")
                                    button(onclick="placeDetails(this)" style=" border: 1px solid grey; margin: 5px;") De interés

block scripts
    script(type="application/javascript" src="/js/map.js")
    script(type="application/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDOUok9C5sAw7TY0Uvba7Bn63YoTJjt0CU&libraries=places&sensor=true&callback=initMap" async defer)
    //- script(type="application/javascript" src="//maps.googleapis.com/maps/api/js?key=AIzaSyDOUok9C5sAw7TY0Uvba7Bn63YoTJjt0CU&libraries=places&sensor=true" async defer)
    //- script(src="https://maps.googleapis.com/maps/api/js?libraries=places&callback=initMap" async defer)
